<body class="p-3 mb-2 bg-black text-white">
  <header>
        <img class="encabezado" src="../imagen/ALARMAS/fondoalarma.webp" alt="fondo audi gm performance">
      </header>
                  <nav>
                    <div class="padre-flex">
                     <a href="/"><button type="button"class="btn btn-primary btn-lg">Inicio  </button></a>
                     <a href="/parlantes"><button type="button" class="btn btn-primary btn-lg">parlantes</button></a>
                     <a href="/subwofers"><button type="button" class="btn btn-primary btn-lg">subwofers</button></a>
                     <a href="/alarmas"><button type="button" class="btn btn-primary btn-lg">Alarmas</button></a>
                     <a href="/accesorios"><button type="button" class="btn btn-primary btn-lg">Accesorios</button></a>
                     <a href="/estereos"><button type="button" class="btn btn-primary btn-lg">estereos</button></a>
                     <a href="/amplificadores"><button type="button" class="btn btn-primary btn-lg">amplificadores</button></a>
                     <a href="/contacto"><button type="button" class="btn btn-primary btn-lg">Contacto</button></a>
                    </div>
                  </nav>
                  <h1 class="titulo"> La seguridad en tu vehiculo es lo primero </h1>
                <div class="div_h2" >
                        <h2> Alarmas</h2>
                    </div>
                    <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/CYBER PX 360 STARTER (PRESENCIA).webp"  alt="alarma positron px">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                            <p>Posibilidad de arranque a distancia desde el control remoto o aplicación,
                                Protección volumétrica (Detecta movimientos dentro del habitáculo)
                                Protección ante apertura de puertas, baúl y capot (**)
                                Antiasalto por contacto
                                Función Presencia
                                Corte de Motor
                                Función de pánico (Disparo preventivo)
                                Activación automática
                                Traba automática de puertas 
                                Encendido automático de luces
                                Manejo del cierre centralizado desde el control remoto
                                Sube los vidrios al activar la alarma (***) </p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/px360bt.jpg" alt="alarma bt">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Vincule la alarma a su celular a través del Bluetooth y comándela desde al APP Pósitron (*)
                                2 controles remoto de 4 botones
                                Protección volumétrica (Detecta movimientos dentro del habitáculo)
                                Protección ante apertura de puertas, baúl y capot (**)
                                Antiasalto por contacto
                                Función Presencia
                                Corte de Motor
                                Función de pánico (Disparo preventivo)
                                Activación automática
                                Traba automática de puertas 
                                Encendido automático de luces
                                Manejo del cierre centralizado desde el control remoto
                                Sube los vidrios al activar la alarma (***)</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/CYBER EX 360 IMP.png" alt="alarma con sensor de impacto">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>2 controles remoto de 4 botones
                                Sensor de Impacto (Acelerómetro - detecta golpes y movimientos al vehículo) - Ideal para disuadir el robo de ruedas
                                Modos de asalto
                                Activación automática
                                Traba automática de puertas 
                                Permite vincular cierre centralizado y trabar/destrabar puertas al activar/desactivar la alarma</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/CYBER FX 360 US.png" alt="positron fx 360">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>2 controles remoto de 4 botones
                                Sensor de Ultra sonido (protección volumétrica del habitáculo)
                                Modos de asalto más presencia (*)
                                Bloqueo de Motor
                                Activación automática
                                Traba automática de puertas 
                                Permite vincular cierre centralizado y trabar/destrabar puertas al activar/desactivar la alarma
                                Permite cerrar los vidrios al activar la alarma. (**)</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/CYBER KL 360 US.png" alt="positron keiles">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Permite utilizar el comando original del vehículo para activar/desactivar la alarma (*)
                                1 control remoto de 4 botones (presencia)
                                Sensor de Ultra sonido (protección volumétrica del habitáculo)
                                Modos de asalto más presencia
                                Activación automática
                                Traba automática de puertas 
                                Compatible con 12V
                                Permite vincular cierre centralizado y activar/desactivar la alarma al trabar/destrabar puertas.
                                Permite cerrar los vidrios al activar la alarma. (**)</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/DUOBLOCK FX 350 G8.png" alt="alarma moto">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>2 controles remoto de 4 botones con presencia
                                Modos de asalto más presencia
                                Activación/desactivación silenciosa desde el control remoto
                                Bloqueo de Motor
                                Compatible con motos 12V</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/llavenabaja.jpg" alt="llave nabaja "> 
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>2 controles remoto de 4 botones
                                Control Navaja PX80 de 4 botones (no incluye espada)
                                Sensor de Ultra sonido (protección volumétrica del habitáculo)
                                Modos de asalto
                                Activación automática
                                Traba automática de puertas 
                                Permite vincular cierre centralizado y trabar/destrabar puertas al activar/desactivar la alarma
                                Permite cerrar los vidrios al activar la alarma. (*)</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/nabaja.jpg" alt="llave nabaja adaptable">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p> <span> Integre su antigua llave y control remoto PST por TODO en UNO SOLO!!!<span> (no incluye espada).
                                Compatible con casi todas las alarmas Pósitron a partir de la línea 2000.
                                Tecnología Anticlonage Rolling Code y New Flex Code.
                                Resistente al agua. Batería de larga duración.
                                1 año de garantia</p>
                          </div>
                        </div>
                      </div> 
                    <div >           
                    </div>
                    <div class="div_h2" >
                            <h2>Cierres alzacristales y accesorios</h2>
                        </div>
                    <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            <img class="imageni3" src="../imagen/accesorios/kitalzacristalgol.webp"  alt="pomo sparco">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                            <p>Funciones Avanzadas del sistema
                                Incluye Modulo automatizado que permite que los cristales suban automáticamente
                                cuando active la alarma.
                                 Subida y bajada de ambos lado con sistema One touch
                                Bajada de vidrios que puede ser manejado a distancia con el canal auxiliar de la alarma
                                (eso va a depender si la alarma lo tiene) Esta función sirve para bajar las ventanillas a
                                distancia si el vehículo estuvo al sol.</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/accesorios/kitalzacristalpartner.jpg" alt="alza cristal">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Maquinas y teclas Originales Para no modificar nada en su vehículo
                                kit alza cristal
                                Subida y bajada de ambos lado con sistema One touch
                                2 maquinas electricas
                                ramal de cable
                                tecla originales y Marco original
                                tapas de panel. Bajada de vidrios que puede ser manejado a distancia con el canal auxiliar de la alarma
                                (eso va a depender si la alarma lo tiene) Esta función sirve para bajar las ventanillas a
                                distancia si el vehículo estuvo al sol. </p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/accesorios/kitalzacristaltoyota.webp" alt="pomo sparco">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                            <p> Maquinas y teclas Originales Para no modificar nada en su vehículo. Maquina electrica derecha,
                                Maquina electrica izquierda,
                                Modulo electrico automatizado (Sistema ONE TOUCH),
                                Cableado para instalación,
                                Teclas lado conductor (Dobles),
                                </p>
                                    
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/accesorios/kitciereup.jpg" alt="soporte para celular sparco">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Kit Cierre Centralizado Vw Up 4 Ptas Original Dp20 - Todas las versiones, 
                                Contenido del Kit:
                                1 - Motor delantero derecho
                                1 - Motor delantero Izquierdo
                                1 - Motor Trasero Derecho
                                1 - Motor Trasero izquierdo
                                1 - Mazo de instalación completo
                                1 - Central electrónica
                                1 - Bolsa con accesorios para su instalación
                               </p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/accesorios/kitcierreamarok.jpg" alt="kit cierre">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Kit Cierre Centralizado Vw Amarok 4 Puertas Dp20 - Todas las versiones 
                                Contenido del kit:
                                1 - Motor delantero derecho
                                1 - Motor Maestro delantero Izquierdo
                                1 - Motor Trasero Derecho
                                1 - Motor Trasero izquierdo
                                1 - Mazo de instalación completo
                                1 - Central electrónica
                                1 - Bolsa con accesorios para su instalación   
                             </p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/accesorios/kitcierregol.webp" alt="kit cierre">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Cierre centralizado original para 4 puertas compatible gol trend/voyage Con encastres originales para este vehiculo
                                El kit viene completo para poder instalarlo (no necesita nada mas que lo del kit para colocarlo)
                                Posee entradas para conectarlo con alarmas y comandos a distancia
                                Sirve para todas las marcas de alarmas que comanden cierres centralizados </p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/accesorios/SENSOR DE ESTACIONAMIENTO PS 220.png" alt="sensor universal">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Monitoreo hasta 1.50 mt. de distancia.
                                130° de campo de dirección a través del sensor.
                                Flexibilidad en la instalación: partes delantera y/o trasera del vehículo.
                                Mayor facilidad al estacionar.
                                Mejor terminación.
                                Conexión individual por conector.
                                Buzzer integrado en el display.
                                Varios colores: Blanco, Plateado y Negro.
                                Incluye mecha copa para perforar el paragolpes.</p>
                          </div>
                          <div class="col">
                            <img class="imageni3" src="../imagen/ALARMAS/cierreposi.png" alt="kit cierre universal">
                            <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                             <p>Excelente relación precio/producto 
                                1 año de garantía 
                                Disponible en versión 2 puertas y 4 puertas 
                                Motores con cabezal giratorio 
                                Tamaño compacto 
                                Sistema de doble comando en ambas versiones 
                                Fácil montaje y adaptación 
                                Interfaz con alarmas
                                Incluye todos los accesorios para su instalación.</p>
                          </div>
                        </div>
                      </div> 
                      <footer>
                        <div class="whatsapp">
                              <a href="https://wa.me/message/JTPOEE7NKLP6J1"target="_blanck"><img class="boton-redes" src="../imagen/botones/was5.png"
                                alt="whatsapp">
                              </a>
                              <a href="https://www.instagram.com/gmperformancezarate/"target="_blanck"><img class="boton-insta" src="../imagen/botones/insta12.png"
                                alt="instagram">
                              </a>
                              <div>
                              <img class="img-tarjetas" src="../imagen/botones/amex@2x.png" alt="american">
                              <img class="img-tarjetas" src="../imagen/botones/banelco@2x.png" alt="banelco">
                              <img class="img-tarjetas" src="../imagen/botones/cabal@2x.png" alt="cabal">
                              <img class="img-tarjetas" src="../imagen/botones/mastercard@2x.png" alt="master">
                              <img class="img-tarjetas" src="../imagen/botones/mercadopago@2x.png" alt="mercadopago">
                              <img class="img-tarjetas" src="../imagen/botones/visa@2x.png" alt="visa">
                            </div>
                        </div>
                </footer>        
</body>

</html>