<body class= "p-3 mb-2 bg-black text-white">
<header>
    <img class="encabezado" src="../imagen/logos/imagenfondorford5.jpg" alt="PIONEER">
</header>
          <nav><div class="padre-flex">
            <a href="/"><button type="button"class="btn btn-primary btn-lg">Inicio</button></a>
            <a href=">/parlantes"><button type="button" class="btn btn-primary btn-lg">parlantes</button></a>
            <a href="/subwofers"><button type="button" class="btn btn-primary btn-lg">subwofers</button></a>
            <a href="/alarmas"><button type="button" class="btn btn-primary btn-lg">Alarmas</button></a>
            <a href="/estereos"><button type="button" class="btn btn-primary btn-lg">estereos</button></a>
            <a href="/accesorios"><button type="button" class="btn btn-primary btn-lg">Accesorios</button></a>
            <a href="/amplificadores"><button type="button" class="btn btn-primary btn-lg">amplificadores</button></a>
            <a href="/contacto"><button type="button" class="btn btn-primary btn-lg">Contacto</button></a>
            </div>
        </nav> 
    <h1 class="titulo"> Alta fidelidad en tus altavoces </h1>
    <div class="card mb-4" style="max-width:300%;">
      <div class="row g-0 col-0 bg-black">
        <div class="col-md-4">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/l5wwzWs4NhI" title="Rockford Fosgate Technology: 3-Stage Airflow" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-8">
          <div class="card-body bg-black">
            <h5 class="card-title">Amplificador Rockford Fosgate Serie T400x4</h5>
            <p class="card-text">
              El amplificador ultracompacto Power T400X4ad de 400 vatios y 4 canales se basa en la tecnología
               patentada Class-AD de Rockford Fosgate, que cuenta con Constant Power para producir la misma salida 
               en impedancias de 4 ohmios y 2 ohmios. Integración flexible del vehículo habilitada a través de entradas
               de bajo nivel y alto nivel con encendido automático. Los controles montados en la parte superior permiten un fácil 
               acceso a los circuitos de detección de clips de entrada / salida CLEAN integrados y CLEAN. La extrusión de 
               bloqueo térmico de 3 etapas con doble inducción forzada por ventilador mantiene todo fresco, mientras que los 
               esquemas de protección / térmica en tiempo real protegen el amplificador.
               Tipo: 4 canales clase AD -Potencia Máxima: 400W -Potencia RMS: 100 Watts x 4 @ 4-Ohm / 
               100 Watts x 4 @ 2-Ohm // 200 Watts x 2 @ 4-Ohm Puenteado
            </p>
            <p class="card-text"><small class="text-muted">stock disponible</small></p>
          </div>
        </div>
      </div>
    </div>  
      </div>
    <div class="div_h2"> <h2 > Amplificadores y kits de instalacion </h2>  </div>
    
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/rockford1.webp"  alt="potencia rockford">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>

                      <p>Amplificador rockford fosgate
                         150 vatios RMS x 1 a 4 ohmios
                         250 vatios RMS x 1 a 2 ohmios
                         Diseño de amplificador de clase D
                         Filtro de paso bajo variable (50-250 Hz, 12 dB / octava)
                         Refuerzo de graves variable (0-18 dB a 45 Hz)
                         Filtro subsónico variable (15-40 Hz, 12 dB / octava)
                         Control de nivel de perforación remoto con cable incluido
                         Encendido remoto automático
                         Salidas de preamplificador
                         Cableado, fusible. y hardware no incluido con el amplificador</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/rocford2.webp" alt="potencia rockford">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>  Amplificador rockford fosgate
                            50 vatios RMS x 4 a 4 ohmios
                            75 vatios RMS x 4 a 2 ohmios
                            Salida puenteada de 150 vatios RMS x 2 a 4 ohmios (4 ohmios estable en modo puenteado)
                            Diseño de amplificador de clase D
                            Filtros de paso alto y bajo variables (50-250 Hz, 12 dB / octava) en los canales delantero y trasero
                            Salidas de preamplificador
                            Cableado, fusible y hardware no incluidos con el amplificador
                            </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/soundmagus600.1.webp" alt="soundmagus">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p> Modelo: DK600
                            Potencia en RMS  2ohm/14.4v: 600W
                            Potencia en RMS  4ohm/14.4v: 400W
                            Canales: 1
                            Nivel de señal de entrada: 0.2~5V
                            Respuesta en frecuencia: 10~220Hz
                            Filtro LPF: 40~220Hz
                            Filtro Sub sonico: 10~50Hz
                            Potenciador de graves: 0-6-12dB
                            Carga minima: 2ohm</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/taramps-400.4.webp" alt="taramps">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Número de Canales: 4
                          Potencia Máx. @13,8 VDC - 2 OHMS - 400 W RMS (4 X 100W RMS)
                          Potencia Máx. @13,8 VDC - 4 OHMS - 252 W RMS (4 X 63W RMS)
                          Potencia Máx. em Bridged @13,8 VDC - 4 OHMS - 400W RMS (2 X 200W RMS)
                          Sensibilidad de Entrada: 160mV (Vol = máx.)
                          Distorción Harmônica Total (THD): 0,05%
                          Relación Señal/Ruido: >90dB
                          Sistema de Protección - Cortocircuito en la Salida / Protección Termica
                         </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/capacitorrockford.jpg" alt="rockford punch">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Capacitor 2 faradios Baja ESR (resistencia en serie equivalente), combinación de condensador de carbono/condensador electrolítico, chapado en platino.
                        (2) entradas de alimentación de 1/0 AWG/4 AWG y (2) entradas de tierra de 1/0 AWG/4 AWG/chapadas en platino.
                        Voltímetro digital (azul).
                        UPC: 780687327484
                        Peso: 3,8</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/kitsds18uno.webp" alt="kit cables">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Portafusibles ANL con ANL-100A
                          Tubo de telar 4GA de 6 pies
                          Ojal de goma
                          Cable de alimentación rojo de 17 pies: 21MM2 OD: 10MM
                          Cable de tierra negro de 3 pies: 21MM2 OD: 10MM
                          Cable RCA trenzado rojo / negro de 17 pies
                          Cable remoto de 17 pies 20 x 0,15 mm
                          Cable de altavoz rojo / negro de 17 pies</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/kitstinger1.webp" alt="kit cables">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Cable de 0ga Positivo de 5,18m
                          Cable de 0ga Negativo de 0,9m
                          Cable RCA de 2 canales de 5,18m
                          Cable remoto de 5,18m
                          Una fusilera
                          Fusible de 150amp
                          Terminales
                          Precintos</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/amplificadores/kitszero.webp" alt="kiker 6x9">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Potencia material - CCA.
                        Cable de alimentación - 0 AWG.
                        Longitud del cable de alimentación: 5,2 m.
                        Longitud del cable remoto: 5 m.
                        Longitud del cable de tierra: 0,8 m.
                        Cable RCA / Cinch - 5 m con triple blindaje.
                        Fusible - ANL 200 AMP.
                        2 x terminales de pala.</p>
                    </div>
                  </div>
                </div> 
                <footer>
                  <div class="whatsapp">
                        <a href="https://wa.me/message/JTPOEE7NKLP6J1"target="_blanck"><img class="boton-redes" src="../imagen/botones/was5.png"
                          alt="whatsapp">
                        </a>
                        <a href="https://www.instagram.com/gmperformancezarate/"target="_blanck"><img class="boton-insta" src="../imagen/botones/insta12.png"
                          alt="instagram">
                        </a>
                        <div>
                        <img class="img-tarjetas" src="../imagen/botones/amex@2x.png" alt="american">
                        <img class="img-tarjetas" src="../imagen/botones/banelco@2x.png" alt="banelco">
                        <img class="img-tarjetas" src="../imagen/botones/cabal@2x.png" alt="cabal">
                        <img class="img-tarjetas" src="../imagen/botones/mastercard@2x.png" alt="master">
                        <img class="img-tarjetas" src="../imagen/botones/mercadopago@2x.png" alt="mercadopago">
                        <img class="img-tarjetas" src="../imagen/botones/visa@2x.png" alt="visa">
                      </div>
                  </div>
          </footer>        
</body>
</html>