<body class="p-3 mb-2 bg-black text-white">
    <header> 
        <img class="encabezado" src="../imagen/logos/fondoauto.webp" alt="publicidad rockford fosgate">
      </header>
                <nav><div class="padre-flex">
                      <a href="/"><button type="button"class="btn btn-primary btn-lg">Inicio </button></a>
                      <a href="/parlantes"><button type="button" class="btn btn-primary btn-lg">parlantes</button></a>
                      <a href="/subwofers"><button type="button" class="btn btn-primary btn-lg">subwofers</button></a>
                      <a href="/alarmas"><button type="button" class="btn btn-primary btn-lg">Alarmas</button></a>
                      <a href="/accesorios"><button type="button" class="btn btn-primary btn-lg">Accesorios</button></a>
                      <a href="/estereos"><button type="button" class="btn btn-primary btn-lg">estereos</button></a>
                      <a href="/amplificadores"><button type="button" class="btn btn-primary btn-lg">amplificadores</button></a>
                      <a href="/contacto"><button type="button" class="btn btn-primary btn-lg">Contacto</button></a>
                     </div>
                  </nav>     
                <h1 class="titulo"> Fidelidad de sonido en todas las medidas  </h1>
                <h2 class="div_h2" >  Parlantes 6 pulgadas   </h2>          
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/prime6.png"  alt="prime 6">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                        <p> Impedancia nominal 4 ohmios
                            Tamaño de rango medio
                            Tipo de altavozCoaxial de 2 vías
                            Rejilla/anillo embellecedor incluido
                            Peso de envío3.53 libras (1,60 kg.)
                            Manejo de potencia (RMS)40 vatios RMS
                            80 vatios MAX
                              </p>
                      </div>
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/D_NQ_NP_701563-MLA44547718691_012021-O.jpg" alt="parlante6 ">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                         <p> Impedancia nominal: 4 Ohms
                             Tamaño: 6,5
                             Profundidad de montaje: 54.5 mm
                             Respuesta de frecuencia (Hz): 52Hz - 20kHz
                             Potencia RMS: 45W
                             Potencia PMPO: 90W
                             Incluye Rejas, accesorios de montaje</p>
                      </div>
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/BOMBER TRIAXIAL UNIVERSAL BBR CON REJA.jpg" alt="bomber 6">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                         <p>Modelo: BBR FULL RANGE 6
                             Tamaño: 6 Pulgadas
                             Potencia RMS: 40W
                             Rango de frecuencia: Completo
                             Impedancia: 4 Ohms
                             Profundidad de montaje: 4,3cm</p>
                      </div>
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/sony6.webp" alt="sony 6">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                         <p> Potencia normal 60 Wats
                             Tamaño del parlante: 6"
                             Woofer 158mm
                             Super tweeter 15mm
                             Potencia máxima PMPO: 600 Wats
                             Sensibilidad: 93 db
                             Impedancia: 4 ohm</p>
                      </div>
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/BOMBER KIT TWO WAY 100W.jpg" alt="bomber 6">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                         <p>Modelo: Upgrade two way
                            Potencia RMS: 60w C/U
                            Potencia Pico: 120w
                            Pulgadas: 6
                            Impedancia: 4 O
                            Cantidad de vias: 2
                            Sensibilidad: 90dB
                            Respuesta de frecuencia: 50 a 20kHz
                            Acompaña Tweeter y Mid Bass
                            Profundidad de Montaje: 5,5 c</p>
                      </div>
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/kiker6.jpg" alt="parlantes kiker">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                         <p>El uso de tweeters PEI de protuberancia cero garantiza que obtenga toda la claridad que necesita,
                           sin interferir con las rejillas de fábrica. Junto con un amplificador DX, el sonido se vuelve más potente, 
                           realista y más fuerte.</p>
                      </div>
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/componentjbl6.png" alt="componentes jbl">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                         <p>JBL GTO 609
                          Power Handling (RMS)90W
                          Componente JBL de maxima calidad de sonido
                          Vienen 2 parlantes medios/graves, 2 divisores de frecuencia y 2 tweeters.</p>
                      </div>
                      <div class="col">
                        <img class="imageni3" src="../imagen/parlantes/6/componentpunch6.png" alt="componentes rockford punch">
                        <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                         <p>Impedancia: 4 Ohms
                            Tamaño: 6,5 (16cm)
                            2 Vias (componentes)
                            Linea: Punch
                            Potencia RMS: 60w
                            Potencia PMPO: 120w
                            Frecuencia: 43hz - 20000hz
                            Sensibilidad: 88 dB
                            Profundidad de Montaje Parlantes: 57mm
                            Profundidad de Montaje Tweeters: 1</p>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-4" style="max-width:300%;">
                    <div class="row g-0 col-0 bg-black">
                      <div class="col-md-4">
                        <img class="imageni0" src= "../imagen/parlantes/6/mediorock.webp" class="img-fluid rounded-start bg-black" alt="rango extendido"> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body bg-black">
                          <h5 class="card-title">Parlante medio rango extendido 10"</h5>
                          <p class="card-text">
                            El PPS4-10 Punch Pro es un altavoz de rango medio de 10 diseñado para condiciones SPL 
                            (Nivel de presión de sonido). La estructura del motor de gran tamaño y la bobina de voz de alta temperatura, 
                            combinadas con un cono de papel reforzado con fibra y un borde de tela tratada corrugada crean la base para un
                             Altavoz altamente sensible que puede manejar mucha potencia. Estará orgulloso, porque estas cosas son ruidosas. 
                             El paquete incluye rejillas protectoras.
                            -Alambre de plomo resistente a la fatiga cosido periódicamente
                            -Marco de aluminio estampado
                            -Conexión de terminal de resorte de entrada de metal
                            -Rejillas y accesorios de montaje incluidos.
                          </p>
                          <p class="card-text"><small class="text-muted">consultar modelos de vehiculos</small></p>
                        </div>
                      </div>
                    </div>
                  </div>  
                    </div>
                  <div class="div_h2">
                    <h2 >  Parlantes 6x9 pulgadas   </h2>          
              </div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/KICKER 43DSC69304 DSC6930.jpg"  alt="kiker 6x9">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                      <p> Cantidad de vías: 3 (triaxiales)
                             Tweeter Design - Domo equilibrado de 1/2
                             Impedancia: 4 Ohms
                             Tweeter Composition PEI
                             Composición de Woofer Polipropileno
                             Woofer Surround de espuma de poliéster
                             Sensibilidad (1W a 1 metro) 92
                             Sensibilidad a 2,83V: N / A
                             Respuesta de frecuencia 30 - 20k Hz
                             Potencia RMS: 90W
                             Potencia PMPO: 360W </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/jblgto6x9.png" alt="jbl gto">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Manejo de potencia (RMS) 5W-200W
                            Sensibilidad (2.83V / 1m) 94dB
                            Frecuencia de respuesta46Hz-21kHz
                            Manejo de potencia (pico) 300W
                            Impedancia nominal 3 ohmios
                            Dimensiones
                            Diámetro de corte de montaje (in) 8-5 / 8 </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/BOMBER BICHO PAPAO CUATRIAXIAL 2X125W.jpg" alt="bomber 6x9">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>• Potencia RMS Total: 250W
                               Potencia RMS Individual: 125W
                               6x9 Pulgadas
                               4 Ohms de Impedancia
                               Bobina simple
                               Modelo Quadriaxial
                               Sensibilidad: 87dB
                               Carcasa Metálica
                               Diseño Moderno</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/prime6x9.png" alt="rockford prime">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Diseño: 3 vías
                            Diseño del Tweeter: 1/2" Domo
                            Impedancia: 4 ohm
                            Composicion del Tweeter: Seda
                            Composición del Woofer: Polipropileno
                            Composición de la suspension: Goma
                            Sensibilidad (1 W a 1 metro): 90dB
                            Sensibilidad a 2,83 voltios: 93dB
                            Respuesta de frecuencia: 47 - 20k Hz
                            Potencia RMS: 65W
                            Potencia máxima: 130W</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/puch6x9.png" alt="rockford punch">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p> Diseño del Tweeter: 1/2" Domo
                              Impedancia: 4 ohm
                              Composicion del Tweeter: Seda
                              Composición del Woofer: Polipropileno
                              Composición de la suspension: Goma
                              Cantidad de Vias: 3
                              Impedancia: 4 Ohms
                              Potencia RMS: 100w
                              Potencia Pico: 200w
                              Profundidad de montaje: 3.39 Pulgadas</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/ROCKFORDFOSGATE POWER T1693.jpg" alt="rockford power">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Tamaño: 6x9 Pulgadas
                             Cantidad de Vias: 3
                             Impedancia: 4 Ohms
                             Potencia RMS: 100w
                             Potencia Pico: 200w
                             Profundidad de montaje: 3.39 Pulgadas</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/BOMBER CUATRIAXIAL BBMAX 2X100W.jpg" alt="blaupunkt 6x9">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p> Modelo: Bbmax Cuatriaxial
                             Potencia RMS: 70w C/U
                             Potencia Pico: 140w
                             Pulgadas: 6x9
                             Impedancia: 4 O
                             Cantidad de vias: 4 (Cuatriaxial)
                             Sensibilidad: 87db
                             Respuesta de frecuencia: 50Hz a 20 kHz
                             Profundidad de Montaje: 7.5 cm</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/6X9/KICKER KSC6930 44KSC69304.jpg" alt="kiker 6x9">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Potencia RMS: 150w
                              Potencia Pmpo: 300w
                              Tweeters de cúpula de seda para un sonido suave
                              Incluye rejilla para una apariencia completa
                              Tamaño del subwoofer: 6 x 9 pulgadas
                              Tamaño del tweeter: 0,75 pulgadas
                              Respuesta de frecuencia: 30-21 K
                              Sensibilidad: 92
                              Impedancia: 4 ohmios</p>
                    </div>
                  </div>
                </div>  
                  <footer>
                    <div class="whatsapp">
                          <a href="https://wa.me/message/JTPOEE7NKLP6J1"target="_blanck"><img class="boton-redes" src="../imagen/botones/was5.png"
                            alt="whatsapp">
                          </a>
                          <a href="https://www.instagram.com/gmperformancezarate/"target="_blanck"><img class="boton-insta" src="../imagen/botones/insta12.png"
                            alt="instagram">
                          </a>
                          <div>
                          <img class="img-tarjetas" src="../imagen/botones/amex@2x.png" alt="american">
                          <img class="img-tarjetas" src="../imagen/botones/banelco@2x.png" alt="banelco">
                          <img class="img-tarjetas" src="../imagen/botones/cabal@2x.png" alt="cabal">
                          <img class="img-tarjetas" src="../imagen/botones/mastercard@2x.png" alt="master">
                          <img class="img-tarjetas" src="../imagen/botones/mercadopago@2x.png" alt="mercadopago">
                          <img class="img-tarjetas" src="../imagen/botones/visa@2x.png" alt="visa">
                        </div>
                    </div>
            </footer>        
  </body>
</html>