 <body class= "p-3 mb-2 bg-black text-white">
<header>
    <img class="encabezado" src="../imagen/logos/rfogt.jpg" alt="PIONEER">
</header>
          <nav><div class="padre-flex">
            <a href="/"><button type="button"class="btn btn-primary btn-lg">Inicio </button></a>
            <a href="/parlantes"><button type="button" class="btn btn-primary btn-lg">parlantes</button></a>
            <a href="/subwofers"><button type="button" class="btn btn-primary btn-lg">subwofers</button></a>
            <a href="/alarmas"><button type="button" class="btn btn-primary btn-lg">Alarmas</button></a>
            <a href="/accesorios"><button type="button" class="btn btn-primary btn-lg">Accesorios</button></a>
            <a href="/estereos"><button type="button" class="btn btn-primary btn-lg">estereos</button></a>
            <a href="/amplificadores"><button type="button" class="btn btn-primary btn-lg">amplificadores</button></a>
            <a href="/contacto"><button type="button" class="btn btn-primary btn-lg">Contacto</button></a>
              </div>
        </nav> 
    <h1 class="titulo"> Consulta por la medida de sub que mejor se adapte a tu baul </h1>
    <div class="div_h2"> <h2 >  Subwofers 12 Y 15 pulgadas </h2>  </div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/jlsub10300rms.jpg"  alt=" sub jl audio">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                      <p>Manejo continuo de potencia (RMS) 200 W
                            Potencia recomendada del amplificador (RMS) 75 - 200 W
                            Impedancia nominal (Znom) 4 O
                            Resonancia de Aire Libre (Fs) 27.43 Hz
                            Eléctrico "Q" (Qes) 0,596
                            Mecánico "Q" (Qms) 9,97
                            Total de altavoces "Q" (Qts) 0.562
                            Conformidad Equivalente (Vas) 3.337 pies cúbicos / 94.49 litro </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/prime12.webp" alt="rockford prime">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p> Modelo: R1S4-12
                             Impedancia: 4 Ohms
                             Tamaño: 12 (30cm)
                             Potencia RMS: 200w
                             Potencia PMPO: 400w
                             Respuesta de frecuencia: 22 - 250 Hz
                             Sensibilidad: 87 dB
                             Material del Woofer: Fibra Impregnada
                             Envolvente del Woofer: Espuma
                             Profundidad de montaje: 125 mm </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/subrockford1.webp" alt="rockford punch12">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Línea: Punch
                               Modelo: P1S4-12
                               Tamaño: 12 (Pulgadas)
                               Potencia RMS: 250W
                               Potencia PMPO: 500W
                               Peso del imán: 1,28 kg.
                               Diámetro de la bobina: 2 (Pulgadas) (51.6 mm)
                               Conector de altavoz: Compresión doble 10 AWG
                               Profundidad de montaje: 15,24 cm</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/bicho800rms.webp" alt="bicho papao">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p> 800W RMS de potencia
                               4 Ohms de Impedancia
                               Bobina doble
                               Respuesta de frecuencia: 40 a 160Hz
                               Fs: 33Hz
                               Qms: 5,55
                               Qes: 0,52
                               Qts: 0,48
                               Vas: 45 L
                               BL: 22,3 T.mm
                               Sensibilidad: 87 dB / W / m
                               Re: 2x3,6</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/kicker12.webp" alt="kicker 12">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>   Tamaño: 12 pulgadas
                             Impedancia 4 ohms
                             Material de cono polipropileno
                             Material envolvente Caucho
                             Bobina de voz dual Sí
                             Sensibilidad 86.9 dB a 1 vatio
                             Respuesta de frecuencia 25 - 500 Hz
                             Potencia RMS: 400W
                             Potencia PMPO: 800W
                             Profundidad de montaje superior: 16,03cm</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/pioneer12.webp" alt="pioneer 12 500rms">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>  Tamaño 30 cm
                            Poder máx Nominal) 1600 W (500 W)
                            Respuesta frecuente 20 Hz to 1.6 kHz
                            Tamaño de imán 145mm x 20mm x2
                            Impedancia 4 DVC (TS-W312D4)
                            4 (TS-W312S4)
                            Profundidad de montaje 157 mm
                            Dimensiones recortables 283 mm x 222 mm</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/audiopipe12.webp" alt="blaupunkt 6x9">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>Potencia: 300 RMS / 1000 W
                             12 Pulgadas
                             Bobina simple 4 Ohms
                             Impedancia 4 Ohms
                             Respuesta de frecuencia: 29-1500Hz
                             Sensibilidad: 86 dB
                             Diámetro de la bobina: 2" (51mm)
                             Profundidad de montaje: 142mm</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/Dinaher12.webp" alt="kiker 6x9">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>   CASCO DE ACERO ESTAMPADO.
                             2 CAPAS DE ARAÑAS.
                             MOTOR DE 2 IMANES DE ALTA INTENSIDAD.
                             VENTILACIÓN DIRECTA A BOBINA.
                             PIEZA POLAR VENTILADA ASIMÉTRICA.
                             COLILLAS ENTRETEJIDAS DOBLES.
                             BOBINA DE 2,5" CON FORMADOR DE ALUMINIO Y ALAMBRE DE COBRE.
                             CONO DE PULPA DE PAPEL NO PRENSADO.
                             ALA DE ALTA EXCURSIÓN.
                             700 WATTS RMS.
                             CONECTORES PUSH.</p>
                    </div>
                  </div>
                </div>
                <div class="div_h2"> <h2 >  Cajas </h2>  </div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/caja12ventilada.webp" alt="caja ventilada 12">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                      <p>Cajon slot de 12 pulgadas
                        aglomerado
                        alfombra
                        Incluye bornera
                        Medidas:
                        ancho: 53cm
                        alto: 40cm
                        profundidad: 35cm</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/caja12ventiladacuerina.webp" alt="caja ventilada cuerina">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                      <p> Cajón Para Subwoofer 12 Pulgadas 
                          (slot Port) Calidad Premium
                          100 litros
                          Cajon slot de 12 pulgadas
                          Aglomerado
                          Cuerina
                          Incluye bornera
                          </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/caja12premiun.webp" alt="caja ventilada diseño">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                      <p>Cajón Para Subwoofer 12 Pulgadas con tubos
                        linea diseños mdf
                        Altura x Ancho: 38 cm x 90 cm
                        cuerina (consultar colores disponibles)
                        Incluye bornera</p>
                    </div>
                  </div>
                </div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/cajadoble12slot.webp" alt="caja doble 12">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                      <p>Cajon slot de 12 pulgadas
                        aglomerado
                        alfombra
                        Incluye bornera
                        Medidas:Altura x Ancho: 91 cm x 38 cm
                        Profundidad superior: 39 cm
                        Cantidad de agujeros: 2
                        Diámetro de los agujeros: 12 "
                        </p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/cajaamplificadakicker.webp" alt="caja amplificada ">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                          <p> Subwoofer autoamplificado compacto con altavoz de 10
                              Control remoto con cable
                              Chasis totalmente de aluminio con rejilla metálica
                              Amplificador incorporado: 180 vatios RMS
                              Incluye cable de alimentación de 16 pies y otro cableado
                              Entradas de nivel de altavoz (también aceptará señal de nivel de preamplificador usando el adaptador opcional, artículo 20646KISL, se vende por separado)
                              Encendido automático</p>
                    </div>
                    <div class="col">
                      <img class="imageni3" src="../imagen/parlantes/subwofer/cajaraquera.webp" alt="caja raquera">
                      <p class="card-text text-sm">Code: {{this.code}}</p>
                    <p class="card-text text-sm">Price: ${{this.price}}</p>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
              {{#if ../user}}
              <form action="/api/carts/{{../user.cartId}}/product/{{this._id}}/increase" method="post">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
              {{else}}
              <a href="login">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </a>
              {{/if}}
            </div>
                       <p>RACK PARA 4 DRIVER O MEDIOS 
                           Dimensiones: 71cm ancho x 18cm alto x 22.5cm profundidad.
                           Fabricado en madera MDF con alfombrado gris grafito frente cuerina negro texturizada.
                           Fabricamos a medida y necesidad del cliente.</p>
                    </div>
                  </div>
                </div>
                <div class="text-nowrap "></div>
                <p class="titulo fst-italic">Decinos que vehículo tenes y te asesoramos. 
                  Somos especialistas en el rubro! Al tener nuestro propio taller de instalaciones,
                  conocemos el funcionamiento y compatibilidades de cada uno de nuestros productos, 
                  como también que producto sirve para cada vehículo.</p>
                </div>
                <footer>
                  <div class="whatsapp">
                        <a href="https://wa.me/message/JTPOEE7NKLP6J1"target="_blanck"><img class="boton-redes" src="../imagen/botones/was5.png"
                          alt="whatsapp">
                        </a>
                        <a href="https://www.instagram.com/gmperformancezarate/"target="_blanck"><img class="boton-insta" src="../imagen/botones/insta12.png"
                          alt="instagram">
                        </a>
                        <div>
                        <img class="img-tarjetas" src="../imagen/botones/amex@2x.png" alt="american">
                        <img class="img-tarjetas" src="../imagen/botones/banelco@2x.png" alt="banelco">
                        <img class="img-tarjetas" src="../imagen/botones/cabal@2x.png" alt="cabal">
                        <img class="img-tarjetas" src="../imagen/botones/mastercard@2x.png" alt="master">
                        <img class="img-tarjetas" src="../imagen/botones/mercadopago@2x.png" alt="mercadopago">
                        <img class="img-tarjetas" src="../imagen/botones/visa@2x.png" alt="visa">
                      </div>
                  </div>
          </footer>        
</body>
</html>